extends layout

block content
  style.
    .main {
      border:1px solid blue;
      padding:30px;
    }

    .sub {
      border:1px solid red;
      padding:10px;
    }
  h1= title
  p 반갑습니다 #{title}
  div.main
    .sub 우리나라만세
